<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration</title>
    <!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />-->
    <!--    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>-->
    <!--    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
</head>
<body>
<main layout:fragment="content" class="flex justify-center py-12">
    <div class="block items-center border-2 border-black w-1/3">
        <h1 class="font-bold text-2xl">Sign up for an account</h1>
        <form action="/" th:object="${user}" method="POST" enctype="utf8">
            <div>
                <label>Full name:</label>
                <input th:field="*{fullName}"/>
                <p th:each="error: ${#fields.errors('fullName')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div>
                <label>Username:</label>
                <input th:field="*{username}"/>
                <p th:each="error: ${#fields.errors('username')}"
                   th:text="${error}">Validation error</p>
            </div>
            <!--    <div>-->
            <!--        <label th:text="#{label.user.lastName}">last</label>-->
            <!--        <input th:field="*{lastName}"/>-->
            <!--        <p th:each="error : ${#fields.errors('lastName')}"-->
            <!--           th:text="${error}">Validation error</p>-->
            <!--    </div>-->
            <div>
                <label>Email:</label>
                <input type="email" th:field="*{email}"/>
                <p th:each="error : ${#fields.errors('email')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" th:field="*{passwordHash}"/>
                <p th:each="error : ${#fields.errors('passwordHash')}"
                   th:text="${error}">Validation error</p>
            </div>
            <!--    <div>-->
            <!--        <label th:text="#{label.user.confirmPass}">confirm</label>-->
            <!--        <input type="password" th:field="*{matchingPassword}"/>-->
            <!--    </div>-->
            <button type="submit" class="border-2 border-black p-2">Submit</button>
        </form>

        <a th:href="@{/login}" class="underline text-blue-500 font-bold">Already have an account?</a>
    </div>
</main>
</body>
</html>